@font-face {
  font-weight: 400;
  font-family: OpenSans;
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../assets/fonts/Neucha-Regular.ttf");
}

:root {
  /* Colors */
  --white-color: #fff;
  --semi-white-color: #d7ccc0;
  --light-color: #f5f4f0;
  --main-orange-color: #fe8a02;
  --dark-orange-color: #ea7600;
  --main-dark-color: #42413c;
  --dark-color: #2a2626;
  --semi-dark-color: #908d8b;
  --brown-color: #b09a81;
  --blue: #1085c5;

  /* Fonts */
  --main-font: OpenSans;
  --headers-font: Neucha;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  font: 16px/1.6 OpenSans;
  color: var(--dark-color);
}

.header {
  position: relative;
}

.overview {
  position: relative;

  flex-direction: column;
  align-items: center;
}

.navigation {
  flex-wrap: wrap;
  gap: 30px;
}

.main-image {
  position: absolute;
  top: 50px;
  right: -290px;

  height: 525px;
}

.description div {
  width: 50%;
}

/* Возможно, что придется пересмотреть */
.btn {
  display: inline-block;
  padding: 12px 24px;
  margin-top: 40px;

  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  background: var(--main-orange-color);
}

.btn:hover {
  background-color: var(--dark-orange-color);
  transition: 0.3s;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.mt-185 {
  margin-top: 185px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.g-30 {
  gap: 30px;
}

.text-orange {
  color: var(--main-orange-color);
}

.text-white {
  color: var(--white-color);
}

.text-dark {
  color: var(--dark-color);
}

.ta-center {
  text-align: center;
}

.w-350 {
  width: 350px;
}

.w-1110 {
  width: 1110px;
  outline: 1px solid black;
}

.h-700 {
  height: 700px;
}

.pt-100 {
  padding-top: 100px;
}
.pt-200 {
  padding-top: 200px;
}

.pb-100 {
  padding-bottom: 100px;
}

.p-24 {
  padding: 24px;
}

.heading {
  font-family: var(--headers-font), sans-serif;
  line-height: 1.2;
}

.fs-72 {
  font-size: 72px;
}

.fs-60 {
  font-size: 60px;
}

.fs-64 {
  font-size: 64px;
}

.fs-34 {
  font-size: 34px;
}

.fs-52 {
  font-size: 52px;
}

.filter {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.bg-dark {
  background-color: var(--main-dark-color);
}
.bg-light {
  background-color: var(--light-color);
}

/* section {
  outline: 1px solid black;
} */

.video {
  position: absolute;
  top: 230px;
}

.card {
  position: relative;
  text-decoration: none;
}

.card > a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.card-active:hover {
  background-color: var(--main-orange-color);
  transition: 0.3s;
  color: var(--white-color);
}

.card-active:hover h3 {
  transition: 0.3s;
  color: var(--white-color);
}
