@font-face {
  font-weight: 400;
  font-family: OpenSans;
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../assets/fonts/Neucha-Regular.ttf");
}

:root {
  /* Colors */
  --white-color: #fff;
  --semi-white-color: #d7ccc0;
  --light-color: #f5f4f0;
  --main-orange-color: #fe8a02;
  --dark-orange-color: #ea7600;
  --main-dark-color: #42413c;
  --dark-color: #2a2626;
  --semi-dark-color: #908d8b;
  --brown-color: #b09a81;
  --blue: #1085c5;

  /* Fonts */
  --main-font: OpenSans;
  --headers-font: Neucha;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px/1.6 OpenSans;
  color: var(--dark-color);
}

/* STRUCTURE */
.container-header {
  position: relative;
}

.heading {
  font-family: var(--headers-font), sans-serif;
  line-height: 1.2;
}

.overview {
  position: relative;
}

.main-image {
  position: absolute;
  top: 50px;
  right: -290px;
  height: 525px;
}

.description div {
  width: 50%;
}

.video {
  position: absolute;
  top: 230px;
  border: none;
}

.card {
  position: relative;
  text-decoration: none;
}

/* Возможно, что придется пересмотреть */
.btn {
  display: inline-block;
  padding: 12px 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

h4 {
  padding: 5px 10px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: var(--dark-orange-color);
  transition: 0.3s;
}

.background {
  position: relative;
}

.background::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
}

.card > a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.card-active:hover {
  background-color: var(--main-orange-color);
  transition: 0.3s;
  color: var(--white-color);
}

.card-active:hover h3 {
  transition: 0.3s;
  color: var(--white-color);
}

.footer-btn {
  position: relative;
}

.footer-btn::before {
  position: absolute;
  height: 50px;
  width: 70px;
  top: 0;
  right: 0;
  background-image: url("../assets/images/send.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.footer-btn:hover {
  background-color: var(--dark-orange-color);
}

.footer-form a:visited {
  color: var(--white-color);
}

.footer-bottom a:visited {
  color: var(--blue);
}

/* DISPLAY */

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.fd-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.g-16 {
  gap: 16px;
}

.g-30 {
  gap: 30px;
}

.d-block {
  display: block;
}

/* MARGIN + PADDING */

.p-15 {
  padding: 15px;
}

.p-24 {
  padding: 24px;
}

.p-55 {
  padding: 55px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-200 {
  padding-top: 200px;
}

.m-auto {
  margin: 0 auto;
}

.mt-40 {
  margin-top: 40px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-185 {
  margin-top: 185px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

/* COLORS */

.bg-white {
  background-color: var(--white-color);
}

.bg-orange {
  background-color: var(--main-orange-color);
}

.bg-dark {
  background-color: var(--main-dark-color);
}

.bg-semi-light {
  background-color: var(--light-color);
}

.bg-light {
  background-color: var(--light-color);
}

.bg-brown {
  background-color: var(--brown-color);
}

.text-orange {
  color: var(--main-orange-color);
}

.text-semi-light {
  color: var(--semi-white-color);
}

.text-white {
  color: var(--white-color);
}

.text-grey {
  color: var(--semi-dark-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-brown {
  color: var(--brown-color);
}

.filter {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.op-90 {
  opacity: 0.9;
}

/* FONTS */

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}

.fs-24 {
  font-size: 24px;
}

.fs-34 {
  font-size: 34px;
}

.fs-52 {
  font-size: 52px;
}

.fs-60 {
  font-size: 60px;
}

.fs-64 {
  font-size: 64px;
}

.fs-72 {
  font-size: 72px;
}

.text-neucha {
  font-family: Neucha, sans-serif;
  line-height: 1.2;
}

.ta-center {
  text-align: center;
}

/* WIDTH + HEIGHT */

.w-50 {
  width: 50%;
}

.w-70 {
  width: 70px;
}

.w-350 {
  width: 350px;
}

.w-425 {
  width: 425px;
}

.w-1110 {
  width: 1110px;
}

.h-50 {
  height: 50px;
}

.h-700 {
  height: 700px;
}
